@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Source+Sans+3&display=swap');




/*--------------------------------------------------------------
## CSS BASICO
----------------------------------------------------------------*/

body,
html {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    overflow-x: hidden;
    background-color: #181818;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
    color: #c00707;
}

/*--------------------------------------------------------------
## ANIMACION CURSOR
----------------------------------------------------------------*/

#cursor {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(173, 21, 21, 0.7);
    border-radius: 50px;
    z-index: 1000000;
    margin: -30px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .07s linear all;
    transition: .07s linear all;
    pointer-events: none;
    box-sizing: border-box;
}

#cursor.zoom {
    -webkit-transform: scale(2);
    transform: scale(2);
}

#pointer {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    margin: -5px;
    background: #FF5F3D;
    border-radius: 50px;
    z-index: 1000000;
    pointer-events: none;
}

@keyframes cursorClick {
    from, to {
        border: 1px solid rgba(38, 38, 38, 0.7);
        transform: scale(1);
    }

    60% {
        border: 1px solid rgba(38, 38, 38, 0);
        transform: scale(2);
    }

    70% {
        border: 1px solid rgba(38, 38, 38, 0);
        transform: scale(1.4);
    }
}

/*--------------------------------------------------------------
## GO TOP
----------------------------------------------------------------*/
.go-top {
    position: fixed;
    border-radius: 50%;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: red;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    z-index: 9999999;
    padding: 1em;
    display: none;
}

.go-top:hover {
    background-color: red;
    color: #fff;
}


/*--------------------------------------------------------------
## PRELOADER
----------------------------------------------------------------*/
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    z-index: 99999;
}

.hlt-three-bounce {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: 000f;
}

.hlt-three-bounce .hlt-child {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #c00707;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: hlt-three-bounce 1.4s ease-in-out 0s infinite both;
    animation: hlt-three-bounce 1.4s ease-in-out 0s infinite both;
}

.hlt-three-bounce .hlt-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.hlt-three-bounce .hlt-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes hlt-three-bounce {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hlt-three-bounce {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/*--------------------------------------------------------------
## NAVBAR HRADER CUSTOM
----------------------------------------------------------------*/
.nav-link {
    text-transform: uppercase;
}

.hlt-menu {
    height: 90px;

}

.bg-dark {
    background-color: #181818 !important;
}


.scroll-down .hlt-menu {
    transform: translate3d(0, -100%, 0);
}

.scroll-up .hlt-menu {
    transform: none;
}

/*--------------------------------------------------------------
## HERO
----------------------------------------------------------------*/
.hlt-hero {
    padding: 200px 0 400px 0 !important;

}

.hlt-hero h1 {
    font-size: 80px;
    font-weight: 700 !important;
    margin-bottom: 20px !important;
    line-height: 1.25em !important;
}

.hlt-hero h2 {
    font-weight: 400;
    color: #FEFEFE;
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: 400;
    line-height: 1.3em;
}

.bgimage {
    width: 100%;
    background: url('https://hastalatumba.zona8.cl/assets/img/fondos/1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.hero-image {
    background-image: url("https://hastalatumba.zona8.cl/mausoleo-de-historias/imagenes/fondo_hero_home.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 550px !important;
}

.hero-text {
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    clear: both;
    font-size: 45px;
    color: #FEFEFE;
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: 400;
    line-height: 1.3em;
}

.breadcrumb {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 0;
    color: #999696;
}

.breadcrumb-item.active {
    color: #fff;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 14px;
}

.text-uppercase {
    text-transform: uppercase !important;
}

/*--------------------------------------------------------------
## SOCIALES LATERAL HOME
----------------------------------------------------------------*/
.hlt-iconos-sociales-laterales {

    display: flex;
    position: absolute;
    height: 800px;
    top: 400px;
    z-index: 2;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg) translateY(85%);
    transform: rotate(180deg) translateY(85%);
    right: 45px;

    color: #fff !important
}




.links-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

ul.hlt-social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px
}



/*--------------------------------------------------------------
## BLOG
----------------------------------------------------------------*/
.img-blog {
    border-radius: 15px;

}

.zoom {
    overflow: hidden;
    padding: 0;
    margin-bottom: 45px;

}

.zoom img {
    transition-duration: 2s;
    margin: 0 auto;
    display: block;
}

.zoom img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}

.sidebar-blog {
    margin-bottom: 70px;
}

.sidebar-blog h4 {
    font-weight: 400;
}

.sidebar-blog input {

    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    padding: 0px 40px 6px 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.hlt-sidebar_search {}

.hlt-sidebar-buscador-boton {
    background-color: transparent;
    border: none;
    outline: none;
    bottom: 0px;
    right: 0;
    color: #fff;
    padding: 10px 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.hlt-sidebar-buscador-boton:hover {
    color: red
}

input {
    color: #fff;
}

.fecha {
    font-size: 18px;
    color: #999696;
    font-weight: 600;
}



.cat {
    font-size: 18px;
    color: #999696;
    font-weight: 600;
}

.titulo-historia {
    margin-top: 35px;
    line-height: 1.75em;
    font-size: 38px;
    margin-bottom: 30px;
    font-weight: 400;
}

.contenido-historia {
    margin-bottom: 35px;
    line-height: 1.75em;
}

.paginacion {
    display: flex;
    padding: 30px 0 30px 0;
    justify-content: center;
    align-items: center;
}

.pagination {
    gap: 15px
}

.page-item .page-link {
    border-radius: 5px;
}


/*--------------------------------------------------------------
## CTA DEJANOS TU HISTORIA HOME
----------------------------------------------------------------*/
.boton-cta {


    color: #fff;
    padding: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #d90429;
    background: #d90429;
}

.boton-cta:hover {
    background: #fff;
    color: #d90429
}


.hlt-cta {
    padding: 90px 30px;
    border-radius: 15px;
}

.hlt-shape_1 {
    width: 0px;
    height: 0px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 14px solid#c00707;
}

.hlt-shape_wrap_1 {
    position: relative;
}

.hlt-shape_wrap_1 .hlt-shape_1 {
    position: absolute;
}

.hlt-shape_wrap_1 .hlt-shape_1:nth-child(1) {
    top: 25%;
    left: 10%;
    -webkit-animation: semi-rotate-anim 12s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: semi-rotate-anim 12s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.hlt-shape_wrap_1 .hlt-shape_1:nth-child(2) {
    top: 30%;
    left: 72%;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-animation: semi-rotate-anim 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: semi-rotate-anim 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.hlt-shape_wrap_1 .hlt-shape_1:nth-child(3) {
    top: 68%;
    left: 35%;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    -webkit-animation: animo-x 9s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: animo-x 9s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.hlt-shape_wrap_1.hlt-position_1 .hlt-shape_1:nth-child(1) {
    top: 15%;
    left: 15%;
}

.hlt-shape_wrap_1.hlt-position_1 .hlt-shape_1:nth-child(2) {
    top: 35%;
    left: 85%;
}

.hlt-shape_wrap_1.hlt-position_1 .hlt-shape_1:nth-child(3) {
    top: 85%;
    left: 35%;
}

@-webkit-keyframes animo-y {
    50% {
        -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0.55, 0, 0.2, 1);
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
}

@keyframes animo-y {
    50% {
        -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0.55, 0, 0.2, 1);
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
}

@-webkit-keyframes rotate-anim {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-anim {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes semi-rotate-anim {
    50% {
        -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transform: translateY(25px) rotate(-53deg);
        transform: translateY(25px) rotate(-53deg);
    }
}

@keyframes semi-rotate-anim {
    50% {
        -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transform: translateY(25px) rotate(-53deg);
        transform: translateY(25px) rotate(-53deg);
    }
}

@-webkit-keyframes up-down-anim {
    40% {
        -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transform: translateY(40px) rotate(-1deg);
        transform: translateY(40px) rotate(-1deg);
    }
}

@keyframes up-down-anim {
    40% {
        -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transform: translateY(40px) rotate(-1deg);
        transform: translateY(40px) rotate(-1deg);
    }
}

@-webkit-keyframes swing-anim {
    65% {
        -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transform: translateY(-48px) rotate(-75deg);
        transform: translateY(-48px) rotate(-75deg);
    }
}

@keyframes swing-anim {
    65% {
        -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transform: translateY(-48px) rotate(-75deg);
        transform: translateY(-48px) rotate(-75deg);
    }
}


/*--------------------------------------------------------------
## TITULOS CTA DEJANOS TU HISTORIA HOME
----------------------------------------------------------------*/
.hlt-cta_title {
    font-weight: 600;
    font-size: 50px;
}

@media screen and (max-width: 1300px) {
    .hlt-cta_title {
        font-size: 42px;
    }
}

@media screen and (max-width: 991px) {

    .hlt-cta_title {
        font-size: 36px;
    }

    .hlt-cta_title br {
        display: none;
    }
}


/*--------------------------------------------------------------
## SWIPER
----------------------------------------------------------------*/

.swiper-wrapper {
    height: 400px !important
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 630px;
    height: 410px;
    border-radius: 16px;
}


/*--------------------------------------------------------------
## SWIPERTESTIMONIOS
----------------------------------------------------------------*/

.swipertestimonios {
    padding: 1.5em;
}

.swipertestimonios .content-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".";
    width: 100%;
    justify-items: center;
    align-items: center;
}

.swipertestimonios .content-wrapper .content {
    padding: 3em 1.5em;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    color: #000;
}

.swipertestimonios .content-wrapper .content :first-child {
    margin: 0;
}

.swipertestimonios .content-wrapper .content .swiper-avatar {
    width: 100%;
    max-width: 125px;
    height: auto;
}

.swipertestimonios .content-wrapper .content .swiper-avatar img {
    border-radius: 500px;
}

.swipertestimonios .content-wrapper .content .cite {
    font-size: 14px;
    font-weight: bold;
}

.swipertestimonios .swiper-slide {
    margin: 0;
    height: auto;
    width: 100%;
    padding: 0;
    opacity: 0.2;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}

.swipertestimonios .swiper-slide.swiper-slide-active {
    background: white;
    opacity: 1;
    transform: scale(1.1);
}

.swipertestimonios .swiper-nav-wrapper {
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: auto;
    padding-top: 3em;
}

.swipertestimonios .swiper-nav-wrapper .swiper-button-next,
.swipertestimonios .swiper-nav-wrapper .swiper-button-prev {
    top: 0;
    top: auto;
    left: auto;
    right: auto;
    position: relative !important;
}

.swipertestimonios .swiper-nav-wrapper .swiper-button-next:after,
.swipertestimonios .swiper-nav-wrapper .swiper-button-prev:after {
    display: none;
}

.swipertestimonios .swiper-nav-wrapper .swiper-button-next,
.swipertestimonios .swiper-nav-wrapper .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='9px' height='16px' viewBox='0 0 9 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='chevron-right' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M8.674805,7.066406 L1.924805,0.316406 C1.696288,0.105468 1.432619,0 1.133789,0 C0.834959,0 0.57129,0.105468 0.342773,0.316406 C0.114257,0.544923 0,0.808592 0,1.107422 C0,1.406251 0.114257,1.669921 0.342773,1.898438 L6.301758,7.857422 L0.342773,13.816406 C0.114257,14.044923 0,14.308592 0,14.607422 C0,14.906251 0.114257,15.169921 0.342773,15.398438 C0.465821,15.521485 0.584472,15.609375 0.69873,15.662109 C0.812989,15.714844 0.958007,15.741211 1.133789,15.741211 C1.309571,15.741211 1.454589,15.714844 1.568848,15.662109 C1.683106,15.609375 1.801757,15.521485 1.924805,15.398438 L8.674805,8.648438 C8.903321,8.419921 9.017578,8.156251 9.017578,7.857422 C9.017578,7.558592 8.903321,7.294923 8.674805,7.066406 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.swipertestimonios .swiper-nav-wrapper .swiper-button-prev,
.swipertestimonios .swiper-nav-wrapper .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='9px' height='16px' viewBox='0 0 9 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='chevron-right' transform='translate(4.508789, 7.870605) rotate(-180.000000) translate(-4.508789, -7.870605) translate(-0.000000, -0.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M8.674805,7.066406 L1.924805,0.316406 C1.696288,0.105468 1.432619,0 1.133789,0 C0.834959,0 0.57129,0.105468 0.342773,0.316406 C0.114257,0.544923 0,0.808592 0,1.107422 C0,1.406251 0.114257,1.669921 0.342773,1.898438 L6.301758,7.857422 L0.342773,13.816406 C0.114257,14.044923 0,14.308592 0,14.607422 C0,14.906251 0.114257,15.169921 0.342773,15.398438 C0.465821,15.521485 0.584472,15.609375 0.69873,15.662109 C0.812989,15.714844 0.958007,15.741211 1.133789,15.741211 C1.309571,15.741211 1.454589,15.714844 1.568848,15.662109 C1.683106,15.609375 1.801757,15.521485 1.924805,15.398438 L8.674805,8.648438 C8.903321,8.419921 9.017578,8.156251 9.017578,7.857422 C9.017578,7.558592 8.903321,7.294923 8.674805,7.066406 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.swiper-pagination {
    margin: 0;
    padding: 0;
    width: auto;
    position: relative !important;
    display: block;
    width: auto;
}

.swiper-pagination .swiper-pagination-bullets {
    margin: 0;
}

.swiper-pagination .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    background: #fff !important;
}

.swiper-pagination-bullet {
    background: #fff !important;
    transition: all 0.2s ease-in-out;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    top: 0;
    bottom: 0;
    width: auto;
    padding: 0 1.5em;
}

.swiper-pagination-bullet-active {
    transform: scale(1.5);
}

/*--------------------------------------------------------------
## EFECTOS
----------------------------------------------------------------*/
.zoom:hover {
    -ms-transform: scale(1.0);
    /* IE 9 */
    -webkit-transform: scale(1.0);
    /* Safari 3-8 */
    transform: scale(1.0);
}

/*--------------------------------------------------------------
## CARD HISTORIAS HOME
----------------------------------------------------------------*/

.card__content {
    left: 0;
    padding: 30px;
    position: absolute;
    top: 0;
}

.card__category {

    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.card__heading {

    font-size: 30px;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;

}

/*--------------------------------------------------------------
## TESTIMONIOS
----------------------------------------------------------------*/

/*--------------------------------------------------------------
## MARQUESINA CON CTA
----------------------------------------------------------------*/
.hlt-moving_text_wrap {
    font-family: helvetica;
    overflow-x: hidden;
    font-size: 120px;
    line-height: 1.2em;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.hlt-moving_text_in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
}

.hlt-moving_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    -webkit-animation: slide-left 20s linear infinite;
    animation: slide-left 20s linear infinite;
}


.cs-reverse_animation {
    animation-direction: reverse !important;
}

@-webkit-keyframes slide-left {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes slide-left {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/*--------------------------------------------------------------
## PREGUNTAS FRECUENTES
----------------------------------------------------------------*/
.hlt-section-subtitulo {
    color: #a3a3a3;
    font-size: 18px;
    margin-bottom: 20px;
}

.hlt-section-titulo {
    font-size: 45px;
}

/*--------------------------------------------------------------
## ACCORDION
----------------------------------------------------------------*/

.accordion {
    border-bottom: 2px solid#c00707;

}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
    border-bottom: 2px solid#c00707;
    box-shadow: none !important
}

.accordion-item {
    color: #fff;
    background-color: transparent !important;
    border-bottom: 2px solid#c00707;
    padding: 10px 0 10px 0
}

.accordion-button {
    background-color: transparent !important;
    color: #fff;
}

.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
    border-radius: 0;
    color: #fff;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

/*--------------------------------------------------------------
## BOTONES CUSTOM
----------------------------------------------------------------*/

#btn {

    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    outline: none;
    margin-top: 30px;
}

#btn span {
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s linear;
}

#btn span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background: gray;
    transition: all 0.3s linear;
}

#btn span:nth-child(1) {
    animation: span-first-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#btn span:nth-child(2) {
    animation: span-second-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#btn span:nth-child(3) {
    animation: span-third-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#btn.on:hover span::before {
    width: 100%;
    transition: all 0.3s linear;
}

#btn.on span:nth-child(1) {
    animation: span-first-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#btn.on span:nth-child(2) {
    animation: span-second-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#btn.on span:nth-child(3) {
    animation: span-third-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes span-first-on {
    0% {
        transform: translate(-50%, -300%);
    }

    30% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

@keyframes span-first-off {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    30% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -300%);
    }
}

@keyframes span-second-on {
    0% {
        transform: translate(-50%, -50%);
    }

    25% {
        background: gray;
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-150%, -50%) scale(0);
    }
}

@keyframes span-second-off {
    0% {
        transform: translate(-150%, -50%) scale(0);
    }

    25% {
        background: gray;
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes span-third-on {
    0% {
        transform: translate(-50%, 200%);
    }

    30% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes span-third-off {
    0% {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    30% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, 200%);
    }
}

/*--------------------------------------------------------------
## CONTENEDOR ESTADISTICAS HOME
----------------------------------------------------------------*/
.datos-estadisticos {
    font-size: 42px;
}

.hlt-cont-estadisticas {

    background: linear-gradient(267.18deg, #161616 0%, #080808 100%);
    border-radius: 15px;
    margin-top: -100px;
    padding: 80px;
}


/*--------------------------------------------------------------
## FOOTER
----------------------------------------------------------------*/
.hlt-main-footer {
    padding: 95px 0 35px;
}

/*--------------------------------------------------------------
## SEPARADORES
----------------------------------------------------------------*/

.hlt-height_90 {
    height: 90px;
}

.hlt-height_45 {
    height: 45px;
}

/*--------------------------------------------------------------
## GRADIENTES
----------------------------------------------------------------*/
.hlt-secciones-gradiente-negro {
    background: linear-gradient(267.18deg, #161616 0%, #080808 100%);
}


/*--------------------------------------------------------------
## PSEUDO ELEMENTOS
----------------------------------------------------------------*/
/* Dibuja en cualquier texto seleccionado el color amarillo  sobre un fondo rojo */
::-moz-selection {
    color: #fff;
    background: red;
}

::selection {
    color: #fff;
    background: red;
}

/* Cambia el color del scroll de pgina*/
::-webkit-scrollbar {
    width: 7px
}

::-webkit-scrollbar-track {
    background: #000;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
    height: 3px
}